<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h2>PAGE POTIN !</h2>
   
        <p> Voici le potin n° <%= id%><br/>
        Son auteur : <%= gossip.author %><br/>
        Le contenu du potin : <%= gossip.content %>
        </p>

  </p>

  <a href='/' > retour </a>
  </body>
</html>